/* ----- Color Variables ----- */

$color-blue:           #2196F3;
$color-blue-lighter:   #64B5F6;
$color-blue-lightest:  #BBDEFB;
$color-blue-darker:    #1565C0;
$color-blue-darkest:   #0D47A1;

$color-green:          #00BE1B;
$color-green-lighter:  lighten(#00BE1B, 5%);
$color-green-lightest: lighten(#00BE1B, 10%);
$color-green-darker:   #13AF23;
$color-green-darkest:  darken(#13AF23, 5%);

$color-grey:           #9E9E9E;
$color-grey-lighter:   #EEEEEE;
$color-grey-lightest:  #F5F5F5;
$color-grey-darker:    #616161;
$color-grey-darkest:   #212121;

$color-orange:           #FF9800;
$color-orange-lighter:   lighten(#FF9800, 5%);
$color-orange-lightest:  lighten(#FF9800, 10%);
$color-orange-darker:    #F57C00;
$color-orange-darkest:   #E65100;

$primary-color:      $color-green;
$primary-color-1:    $color-green-lightest; //hue 1
$primary-color-2:    $color-green-darker;   //hue 2
$primary-color-3:    $color-green-lighter;  //hue 3
$accent-color:       $color-orange;
$accent-color-1:     $color-orange-lightest;
$accent-color-2:     $color-orange-darker;
$accent-color-3:     $color-orange-darkest;

$facebook-blue: #3B5998;
$twitter-blue:  #4099FF;

/* ----- Z-Indexes ----- */

$zindex-top:         10;
$zindex-top-higher:  100;
$zindex-top-highest: 1000;
